.dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color : grey;
    padding: 4px;
    display : flex;
    align-items: center;
    justify-content: center;
  }

  .dropdownContainer{
    position: relative;
    display: inline-block;
  }